@model RahulRai.Websites.Utilities.Common.Entities.BlogPost
<!-- Blog Post Content Column -->
<!-- Blog Post -->
<!-- Title -->
<h1>@Model.Title</h1>
<hr>
<div class="container-fluid">
    <div class="row hidden-xs hidden-sm">
        <div class="col-md-8 text-left">
            <!-- Date/Time -->
            <p><span class="glyphicon glyphicon-time col-center"></span> Posted on @Model.PostedDate.ToLocalTime().ToString("f")</p>
        </div>
        <div class="col-md-4 text-right" id="link_other">
            <a href="http://twitter.com/share?url=@Request.Url.AbsoluteUri&text=@Model.Title">
                <img src="~/Content/Social/48/twitter.png" alt="share on twitter" class="iconImage img-responsive" data-toggle="tooltip" title="Tweet" />
            </a>
            <a href="http://www.facebook.com/sharer.php?u=@Request.Url.AbsoluteUri">
                <img src="~/Content/Social/48/fb.png" alt="share on facebook" class="iconImage img-responsive" data-toggle="tooltip" title="Post" />
            </a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url=@Request.Url.AbsoluteUri&summary=@Model.Title&source=rahulrai.in">
                <img src="~/Content/Social/48/linkedin.png" alt="share on linkedin" class="iconImage img-responsive" data-toggle="tooltip" title="Share" />
            </a>
            <a href="whatsapp://send?text=Read about @Model.Title here @Request.Url.AbsoluteUri">
                <img src="~/Content/Social/48/whatsapp.png" alt="share on whatsapp (mobile)" class="iconImage img-responsive" data-toggle="tooltip" title="WhatsApp (mobile)" />
            </a>
        </div>
    </div>
    <!--In XS sxreens these controls should stack in rows-->
    <div class="row visible-xs visible-sm">
        <div class="col-xs-12 text-left">
            <!-- Date/Time -->
            <p><span class="glyphicon glyphicon-time col-center"></span> Posted on @Model.PostedDate.ToLocalTime().ToString("f")</p>
        </div>
    </div>
    <div class="row visible-xs visible-sm">
        <div class="col-xs-12 text-center" id="link_other">
            <a href="http://twitter.com/share?url=@Request.Url.AbsoluteUri&text=@Model.Title">
                <img src="~/Content/Social/48/twitter.png" alt="share on twitter" class="iconImage img-responsive" data-toggle="tooltip" title="Tweet" />
            </a>
            <a href="http://www.facebook.com/sharer.php?u=@Request.Url.AbsoluteUri">
                <img src="~/Content/Social/48/fb.png" alt="share on facebook" class="iconImage img-responsive" data-toggle="tooltip" title="Post" />
            </a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url=@Request.Url.AbsoluteUri&summary=@Model.Title&source=rahulrai.in">
                <img src="~/Content/Social/48/linkedin.png" alt="share on linkedin" class="iconImage img-responsive" data-toggle="tooltip" title="Share" />
            </a>
            <a href="whatsapp://send?text=Read about @Model.Title here @Request.Url.AbsoluteUri">
                <img src="~/Content/Social/48/whatsapp.png" alt="share on whatsapp" class="iconImage img-responsive" data-toggle="tooltip" title="WhatsApp (mobile)" />
            </a>
        </div>
    </div>
</div>
<hr />
<!--Fixed issue related to overflowing text-->
<!-- Post Content -->
@Html.Raw(Model.Body)
<hr />
@if (!string.IsNullOrWhiteSpace(Model.SpecialMention))
{
    <!--Custom Text-->
    <p>@Html.Raw(Model.SpecialMention)</p>
    <hr />
}
<div class="panel panel-success">
    <div class="panel-heading">
        Did you enjoy reading this post? I can notify you the next time I post something. <a href="@Url.RouteUrl("Default", new { controller = "Blog", action = "NewsletterSignUp" })">Subscribe.</a>
    </div>
</div>
<hr />
<!-- Blog Comments -->
<div id="disqus_thread">
    @* ReSharper disable once PossibleNullReferenceException *@
    <script type="text/javascript" async defer>
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'rahulrai';
        var disqus_url = '@Request.Url.ToString()';
        var disqus_identifier = '@Request.Url.AbsolutePath';
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
