@model IList<RahulRai.Websites.Utilities.Common.Entities.BlogPost>
<!-- Blog Entries Column -->
<div class="col-md-8">
    <h1 class="page-header">
        Cloud and Tech!
        <small>easy on mind and eyes :)</small>
    </h1>
    @foreach (var blogPost in Model)
    {
        <!-- Blog Post -->
        <h2>
            <a href="#">@blogPost.Title</a>
        </h2>
        <p>
            <span class="glyphicon glyphicon-time"></span>
            @blogPost.PostedDate.ToLocalTime().ToString("f")
        </p>
        <p>
            <span class="glyphicon glyphicon-comment"></span>
            5 Comments
            <a href="posts/wazproxy-an-http-proxy-that-signs-windows-azure-storage-requests#disqus_thread"
               data-disqus-identifier="posts/wazproxy-an-http-proxy-that-signs-windows-azure-storage-requests"></a>
        </p>
        <p>@blogPost.Body</p>
        <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>
    }
    <!-- Pager -->
    <ul class="pager">
        <li class="previous">
            <a href="@Url.RouteUrl("Default", new {action = "GoPrevious"})"><i class="glyphicon glyphicon-arrow-left" href="#"></i>&nbsp;&nbsp;Prev.</a>
        </li>
        <li>
            <a href="@Url.RouteUrl("Default", new {action = "GoArchieve"})">  <i class="glyphicon glyphicon-folder-open" href="#"></i>&nbsp;&nbsp;Archieve</a>
        </li>
        <li class="next">
            <a href="@Url.RouteUrl("Default", new {action = "GoNext"})">Next&nbsp;&nbsp;<i class="glyphicon glyphicon-arrow-right" href="#"></i></a>
        </li>
    </ul>
</div>
<!-- Enable Disqus -->
<script type="text/javascript">
    var disqus_shortname = 'rahulrai';
    (function() {
        var s = document.createElement('script');
        s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>