@using RahulRai.Websites.Utilities.Common.Helpers
@model IList<RahulRai.Websites.Utilities.Common.Entities.BlogPost>
<!-- Blog Entries Column -->
@*<div class="visible-xs">
        <h1>
            Thoughts on Everything
        </h1>
    </div>
    <div id="myCarousel" class="carousel hidden-xs" data-interval="2000" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <h1>
                    Thoughts on Cloud
                </h1>
            </div>
            <div class="item">
                <h1>
                    Thoughts on Coding
                </h1>
            </div>
            <div class="item">
                <h1>
                    Thoughts on Technology
                </h1>
            </div>
            <div class="item">
                <h1>
                    Thoughts on Architecture
                </h1>
            </div>
            <div class="item">
                <h1>
                    Thoughts on Cluster Funks
                </h1>
            </div>
            <div class="item">
                <h1>
                    Thoughts on Zen Mails
                </h1>
            </div>
        </div>
    </div>*@
@foreach (var blogPost in Model)
{
        <!-- Blog Post -->
    <h3>
        <a href="@Url.RouteUrl("BlogPost", new { postId = blogPost.BlogFormattedUri })">@blogPost.Title</a>
    </h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 text-left">
                <span class="glyphicon glyphicon-time"></span>
                @blogPost.PostedDate.ToLocalTime().ToString("f")
            </div>
            <div class="col-xs-6 text-right">
                <span class="glyphicon glyphicon-star comment"></span>
                <a href="@Url.RouteUrl("BlogPost", new { postId = blogPost.BlogFormattedUri })#disqus_thread"
                   data-disqus-identifier="/post/@blogPost.BlogFormattedUri" class="comment"></a>
            </div>
        </div>
    </div>
    <br />
    <p>@Routines.GeneratePreview(blogPost.Body)</p>
    <a class="btn btn-primary" href="@Url.RouteUrl("BlogPost", new { postId = blogPost.BlogFormattedUri })">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr />
}
<!-- Pager -->
@if (ViewBag.Previous || ViewBag.Next)
{
    <div class="container-fluid">
        <div class="row">
            <ul class="pager">
                <li class="@(ViewBag.Previous? "previous col-xs-4" : "disabled previous col-xs-4")">
                    <a href="@(ViewBag.Previous ? Url.RouteUrl("Default", new { action = "Page", id = ViewBag.PreviousPageNumber }) : "#")"><i class="glyphicon glyphicon-arrow-left" href="#"></i>&nbsp;&nbsp;Prev.</a>
                </li>
                <li class="col-xs-4">
                    <a href="@Url.RouteUrl("Default", new { action = "Archive" })"><i class="glyphicon glyphicon-folder-open" href="#"></i>&nbsp;&nbsp;Archive</a>
                </li>
                <li class="@(ViewBag.Next ? "next col-xs-4" : "disabled next col-xs-4")">
                    <a href="@(ViewBag.Next ? Url.RouteUrl("Default", new { action = "Page", id = ViewBag.NextPageNumber }) : "#")">Next&nbsp;&nbsp;<i class="glyphicon glyphicon-arrow-right" href="#"></i></a>
                </li>
            </ul>
        </div>
    </div>
}
<!-- Enable Disqus -->
<script type="text/javascript">
    //Iniailize Disqus
    var disqus_shortname = 'rahulrai';
    (function () {
        var s = document.createElement('script');
        s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>