@using System.Web.Configuration
@using RahulRai.Websites.Utilities.Common.RegularTypes
<!DOCTYPE html>
<html lang="en">
<!--Initialize Data-->
@{
    var title = ViewBag.Title;
    var resourceBasePath = ViewBag.ResourceBasePath;
    var myEmail = ViewBag.MyEmail;
    var appInsightKey = WebConfigurationManager.AppSettings[ApplicationConstants.AppInsightKey];
    //// Expire content daily.
    var version = DateTime.UtcNow.ToString("yy-mm-dd");
}
<!--/Initialize Data-->
<head>
    <meta name="msvalidate.01" content="F6575BFCC1322FDFE66EA304BDB69F33" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-Frame-Options" content="deny" />
    <meta name="description" content="Rahul Rai on Cloud, Technology and Code">
    <meta name="keywords" content="azure, microsoft, cloud, sql, database, cloud storage, code, c#, database, blog, rahulrai, rahul rai, rahul">
    <meta name="author" content="Rahul Rai">
    <title>@title</title>
    <link rel="icon" href="@(resourceBasePath + "RahulRai.ico")" />
    <meta name="msapplication-TileColor" content="#428BCA" />
    <meta name="msapplication-square150x150logo" content="@(resourceBasePath + "RahulRai.png")" />
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    @Styles.Render("~/styles/SyntaxHighlighter")
    @Scripts.Render("~/bundles/SyntaxHighlighter")
    <link href="~/Content/blog-home.css?version=@version" rel="stylesheet" />
    <script type="text/javascript">
        ////Application Insight Web Page Load Time Tracking.
        var appInsights = window.appInsights || function (config) {
            function s(config) {
                t[config] = function () {
                    var i = arguments;
                    t.queue.push(function () { t[config].apply(t, i) })
                }
            }

            var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u;
            for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) s("track" + i.pop());
            return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function (config, r, f, e, o) {
                var s = u && u(config, r, f, e, o);
                return s !== !0 && t["_" + i](config, r, f, e, o), s
            }), t
        }({
            instrumentationKey: "@appInsightKey"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
    <script type="text/javascript">
        SyntaxHighlighter.defaults['toolbar'] = false;
        SyntaxHighlighter.all();
    </script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--Google Analytics-->
    <script language="javascript" type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-7566205-4', 'auto');
        ga('send', 'pageview');
    </script>
    <!--Adding resources to cache-->
    <link rel="prefetch" href="~/Content/bootstrap.min.css" />
    <link rel="prefetch" href="~/Content/blog-home.css?version=@version" />
    <link rel="prefetch" href="@(resourceBasePath + "RahulRai.png")" />
    <link rel="prefetch" href="~/Scripts/jquery-1.10.2.min.js" />
    <link rel="prefetch" href="~/Scripts/bootstrap.min.js" />
    <link rel="prefetch" href="~/Scripts/jquery.unobtrusive-ajax.min.js" />
    <!--/Adding resources to cache-->
</head>
<body>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    @Html.RouteLink("Rahul Rai", "Default", "http", null, null, new { controller = "Blog", action = "GetLatestBlogs" }, new { @class = "mylogo" })
                </div>
                <div class="col-sm-5 col-md-5 pull-right col-center hidden-xs">
                    @{
                        var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"].ToString();
                        if (!controller.Equals("Profile", StringComparison.OrdinalIgnoreCase))
                        {
                            <form action="@Url.RouteUrl("Default", new { controller = "Blog", action = "SearchResult" }, "http")" method="GET" class="navbar-form" role="search">
                                <div class="input-group text-right">
                                    @Html.TextBox("searchTerm", null, new { @class = "form-control", maxlength = 20 })
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        }
                    }
                </div>
                <!-- /.container -->
            </div>
        </div>
    </nav>
    <div>
        <!-- Page Content -->
        <div class="container contentPane">
            <div class="row">
                @RenderBody()
            </div>
        </div>
        <!-- /.row -->
        <!-- /.container -->
    </div>
    <!-- Footer -->
    <footer>
        <div class="footerDiv" id="link_other">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <p>Copyright &copy; rahulrai.in @DateTime.Now.Year</p>
                    <p>
                        Site <a href="#" data-toggle="modal" data-target="#myModal">Affiliations</a> and <a href="#" data-toggle="modal" data-target="#disclaimer">Disclaimer</a>
                    </p>
                    <p>
                        Powered by <a href="http://azure.microsoft.com/en-us/">Microsoft Azure App Services</a>
                    </p>
                    <p>
                        Continuous deployment through <a href="http://github.com">GitHub</a>
                    </p>
                    <p>
                        UX with <i class="glyphicon glyphicon-heart" style="color: red"></i>
                        <a href="https://www.facebook.com/neha.bharadwaj2">Neha Rai</a>
                    </p>
                </div>
                <div class="col-xs-6 text-right">
                    <a href="https://www.facebook.com/moonytheloony">
                        <img src="~/Content/Social/48/fb.png" alt="facebook" class="iconImage img-responsive" />
                    </a>
                    <a href="https://in.linkedin.com/in/rahulrahul">
                        <img src="~/Content/Social/48/linkedin.png" alt="linkedin" class="iconImage img-responsive" />
                    </a>
                    <a href="https://social.msdn.microsoft.com/profile/rahul.rai/">
                        <img src="~/Content/Social/48/Microsoft.png" alt="MSDN" class="iconImage img-responsive" />
                    </a>
                    <a href="https://github.com/moonytheloony">
                        <img src="~/Content/Social/48/github.png" alt="GITHub" class="iconImage img-responsive" />
                    </a>
                    <a href="mailto:@myEmail">
                        <img src="~/Content/Social/48/email.png" alt="email" class="iconImage img-responsive" data-toggle="tooltip" title="rahulrai@rahulrai.in" />
                    </a>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
    </footer>
    <!--Affiliations-->
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Affiliations</h2>
                </div>
                <div class="modal-body">
                    <dl>
                        <dt>SSL Secure</dt>
                        <dd>
                            <!-- Begin Positive SSL site seal HTML -->
                            <script type="text/javascript"> //<![CDATA[ 
                                var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
                                document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
                                //]]>
                            </script>
                            <script language="JavaScript" type="text/javascript">
                                TrustLogo("https://rahulrai.blob.core.windows.net/applicationresources/comodo_secure_seal.png", "CL1", "none");
                            </script>
                            <a  href="https://www.positivessl.com/" id="comodoTL"></a>
                            <!-- End Positive SSL site seal HTML -->
                        </dd>
                        <dt>Mails with <i class="glyphicon glyphicon-heart" style="color: red"></i></dt>
                        <dd>
                            <div class="text-center">
                                <img src="@(resourceBasePath + "sendgrid.png")" class="iconImage img-responsive" alt="SendGrid" />
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="disclaimer" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Disclaimer</h2>
                </div>
                <div class="modal-body">
                    <dl>
                        <dt>Declaration</dt>
                        <dd>
                            <p>
                                The views expressed by me on this website do not necessarily reflect the views of my employers and those who link to this website.
                            </p>
                            <p>
                                Comments on this website are the sole responsibility of their writers and the writer will take full responsibility, liability, and blame for any libel or litigation that results from something written in or as a direct result of something written in a comment. The accuracy, completeness, veracity, honesty, exactitude, factuality and politeness of comments are not guaranteed.
                            </p>
                            <p>
                                I may inadvertently link to copyrighted content or other ill natured content. In case you find so, please report the content and it will be fixed or removed promptly.
                            </p>
                        </dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--/Affiliations-->
    <script type="text/javascript">
        //Open links in new tab
        $(document).ready(function () {
            $('#link_other a').attr('target', '_blank').attr('title', 'This link will open in a new window.');
        });

        //DataTransfer Tooltip
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="tab"]').tooltip();
        });

        //Emphasis on button.
        $(document).ready(function () {
            if (document.getElementById("focusButton") != null) {
                var change = false;
                setInterval(function () {
                    if (change) {
                        document.getElementById("focusButton").style.textDecoration = "underline";
                    } else {
                        document.getElementById("focusButton").style.textDecoration = "none";
                    }

                    change = !change;
                }, 1000);
            }
        });

        //Randomly change placeholder text in search area
        $(document).ready(function () {
            if (document.getElementById("searchTerm") != null) {
                var searchTerms = [
                    "Where's that blog?",
                    "Tip: Use * with word fragments",
                    "Tip: Maximum expression length is 20 characters",
                    "Tip: Alphabets, numbers, spaces, - and * are allowed",
                    "Tip: Separate search terms with spaces",
                    "What are you looking for?"
                ];
                var randomNumber = Math.floor(Math.random() * searchTerms.length);
                document.getElementById("searchTerm").setAttribute('placeholder', searchTerms[randomNumber]);
            }
        });
    </script>
</body>
</html>
