@using RahulRai.Websites.Utilities.Common.Helpers
@{
    Layout = "_LayoutNoContent.cshtml";
    var resourceBasePath = ViewBag.ResourceBasePath;
    var myEmail = ViewBag.MyEmail;
}
<a class="visible-xs" id="menu"></a>
<div class="row">
    <div class="col-sm-3">
        <div class="profile-sidebar" id="sidebar">
            <br />
            <!-- SIDEBAR USERPIC -->
            <div class="profile-userpic">
                <img src=@(resourceBasePath + "RahulRai.png") class="img-responsive" alt="Profile Picture">
            </div>
            <!-- END SIDEBAR USERPIC -->
            <!-- SIDEBAR USER TITLE -->
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">
                    Rahul Rai
                </div>
                <div class="profile-usertitle-job">
                    Architect<br />
                    Microsoft Technologies
                </div>
            </div>
            <!-- END SIDEBAR USER TITLE -->
            <!-- SIDEBAR MENU -->
            <div class="profile-usermenu">
                <ul class="nav">
                    <li>
                        <a href="@(Url.RouteUrl("Default", new { controller = "Profile", action = "ProfileContent" }))">
                            <i class="glyphicon glyphicon-qrcode"></i>
                            About Me
                        </a>
                    </li>
                    <li class="@Html.IsSelected(actions: "Archive", controllers: "Blog")">
                        <a href="@Url.RouteUrl("Default", new { controller = "Blog", action = "Archive" })">
                            <i class="glyphicon glyphicon-folder-open"></i>
                            Archive
                        </a>
                    </li>
                    <li class="@Html.IsSelected(actions: "Survey", controllers: "Blog")">
                        <a href="@Url.RouteUrl("Default", new { controller = "Blog", action = "Survey" })">
                            <i class="glyphicon glyphicon-th-list"></i>
                            Surveys (&beta;)
                        </a>
                    </li>
                    <li>
                        <a href="mailto:@myEmail?subject=I found and issue in rahulrai.in">
                            <i class="glyphicon glyphicon-pushpin"></i>
                            Log Site Issues
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END MENU -->
            <!--Carousel-->
            <br />
            <hr class="sloganWrapper" />
            <div class="container text-center text-info col-center">
                <div id="myCarousel" class="carousel" data-interval="2000" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <h3>
                                Thoughts on
                                <br />
                                Cloud
                            </h3>
                        </div>
                        <div class="item">
                            <h3>
                                Thoughts on
                                <br />
                                Coding
                            </h3>
                        </div>
                        <div class="item">
                            <h3>
                                Thoughts on
                                <br />
                                Technology
                            </h3>
                        </div>
                        <div class="item">
                            <h3>
                                Thoughts on
                                <br />
                                Architecture
                            </h3>
                        </div>
                        <div class="item">
                            <h3>
                                Thoughts on
                                <br />
                                Cluster Funks
                            </h3>
                        </div>
                        <div class="item">
                            <h3>
                                Thoughts on
                                <br />
                                Zen Mails
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Carousel-->
            <hr class="sloganWrapper" />
        </div>
    </div>
    <div class="col-sm-9" id="content">
        <div class="profile-content" id="contentPane">
            @RenderBody()
            <div class="visible-xs text-right">
                <br />
                <a href="#menu">Back To Menu</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    // Navigate to cotent pane on page load for small screens.
    $(function () {
        if ($(window).width() <= 739) {
            $('html, body').animate({
                scrollTop: $("#contentPane").offset().top - 100
            }, 1000);
        }
    });
</script>