@using RahulRai.Websites.Utilities.Common.Helpers
@{
    Layout = "~/Views/Shared/_LayoutNoContent.cshtml";
    var resourceBasePath = ViewBag.ResourceBasePath;
    var myEmail = ViewBag.MyEmail;
}
<a class="visible-xs" id="menu"></a>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="profile-sidebar" id="sidebar">
                <br />
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src=@(resourceBasePath + "RahulRai.png") class="img-responsive" alt="Profile Picture">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        Rahul Rai
                    </div>
                    <div class="profile-usertitle-job">
                        Architect<br />
                        Microsoft Technologies
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="@Html.IsSelected(actions: "ProfileContent", controllers: "Profile")">
                            <a href="@(Url.RouteUrl("Profile", new { action = "ProfileContent" }))">
                                <i class="glyphicon glyphicon-cog"></i>
                                Profile
                            </a>
                        </li>
                        <li class="@Html.IsSelected(actions: "Testimonials", controllers: "Profile")">
                            <a href="@(Url.RouteUrl("Profile", new { action = "Testimonials" }))">
                                <i class="glyphicon glyphicon-thumbs-up"></i>
                                Testimonials
                            </a>
                        </li>
                        <li class="@Html.IsSelected(actions: "Publications", controllers: "Profile")">
                            <a href="@(Url.RouteUrl("Profile", new { action = "Publications" }))">
                                <i class="glyphicon glyphicon-book"></i>
                                Publications
                            </a>
                        </li>
                        <li class="@Html.IsSelected(actions: "Resume", controllers: "Profile")">
                            <a href="@(Url.RouteUrl("Profile", new { action = "Resume" }))">
                                <i class="glyphicon glyphicon-star"></i>
                                Resume
                            </a>
                        </li>
                        <li class="@Html.IsSelected(actions: "Contact", controllers: "Profile")">
                            <a href="@(Url.RouteUrl("Profile", new { action = "Contact" }))">
                                <i class="glyphicon glyphicon-phone"></i>
                                Contact
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-sm-9">
            <div class="profile-content" id="contentPane">
                <a class="visible-xs" id="content"></a>
                @RenderBody()
                <div class="visible-xs text-right">
                    <br />
                    <a href="#menu">Back To Menu</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    // Navigate to cotent pane on page load for small screens.
    $(function () {
        if ($(window).width() <= 739) {
            $('html, body').animate({
                scrollTop: $("#contentPane").offset().top - 100
            }, 1000);
        }
    });
</script>