@{
    Layout = "~/Views/Shared/_Profile.cshtml";
}

@using System.Configuration
@using System.Web.Configuration
@using RahulRai.Websites.Utilities.Common.RegularTypes
@model IEnumerable<RahulRai.Websites.Utilities.Common.Entities.Testimonial>
<h1>Testimonials</h1>
<hr>
<!-- Date/Time -->
<div class="container text-right">
    <a href="@Url.RouteUrl("Profile", new { controller = "Profile", action = "WriteTestimonial" })">
        <img src="~/Content/Social/48/textplus.png" alt="add testimonial" class="iconImage img-responsive" data-toggle="tooltip" title="Write a Testimonial" />
    </a>
</div>
<div class="container-fluid text-center">
    <p class="lead">Top @WebConfigurationManager.AppSettings[ApplicationConstants.TopTestimonialCount] Featured and Recent Testimonials</p>
</div>
<br />
@if (null != Model)
{
    foreach (var item in Model)
    {
        <div class="container content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="testimonial">
                        @if (item.IsFeatured)
                        {
                            <div class="featured text-right"><i class="glyphicon glyphicon-star" data-toggle="tooltip" title="Featured"></i></div>
                        }
                        @Html.Raw(item.AuthorComments)
                    </div>
                    <div class="arrow-down"></div>
                    <div class="container-fluid content">
                        <div class="row">
                            <div class="col-md-1 pull-left">
                                <div class="circle circle-border arrownAlign">
                                    <div class="circle-inner">
                                        <div class="inner-text">
                                            @item.AuthorFirstName.ToUpperInvariant().FirstOrDefault()@item.AuthorLastName.ToUpperInvariant().FirstOrDefault()
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 pull-left">
                                <p class="testimonial-author">@item.AuthorFirstName @item.AuthorLastName</p>
                                <p class="testimonials-post">
                                    @if (!string.IsNullOrWhiteSpace(item.AuthorDesignation))
                                    {
                                        <span>@item.AuthorDesignation,</span>
                                    }
                                    @item.AuthorOrganization
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <hr />
        <br />
    }
}
