@{
    Layout = "~/Views/Shared/_Profile.cshtml";
}

@model IEnumerable<RahulRai.Websites.Utilities.Common.Entities.Testimonial>
<h1>Testimonials</h1>
<hr>
<!-- Date/Time -->
<p><span class="glyphicon glyphicon-time"></span> Updated on June 30, 2015 at 9:00 PM</p>
<hr>
<p>Coming Soon!!</p>
<p>
    <div class="circle circle-border">
        <div class="circle-inner">
            <div class="inner-text">
                RR
            </div>
        </div>
    </div>
</p>
<table class="table">
    @if (null != Model)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorOrganization)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorToken)
                </td>
            </tr>
        }
    }
</table>